@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-white;
}